---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { getRelativeLocaleUrl } from 'astro:i18n';
import SocialLinks from './SocialLinks.astro';
import LangSelector from './LangSelector.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="w-full">
	<nav>
		<h2><a href={`/sito_tekaa/${lang}/`}><img class="w-24 h-auto md:w-44" src="/sito_tekaa/img/logo_tekaa.png" alt="TEKAA HOME SOLUTIONS"></a></h2>
		<div class="flex internal-links text-xs tekaa uppercase font-semibold md:text-3xl md:w-3/5 md:justify-evenly ">
			<HeaderLink href={`/sito_tekaa/${lang}/projects/`} >{t('nav.projects')}</HeaderLink>
			<HeaderLink href={`/sito_tekaa/${lang}/about/`} >{t('nav.about')}</HeaderLink>
			<HeaderLink href={`/sito_tekaa/${lang}/news/`} >{t('nav.blog')}</HeaderLink>
		</div>
		<LangSelector></LangSelector>
		<div class="internal-links text-xs tekaa uppercase font-semibold md:text-3xl">
			<HeaderLink href={`/sito_tekaa/${lang}/contatti/`}>{t('nav.contact')}</HeaderLink>
		</div>
	</nav>
	<div>
		<hr style="height:4px;border-width:0;color:rgb(3,136,139);background-color:rgb(3,136,139)">
	</div>
</header>
<style>
	.tekaa {
		color: rgb(3,136,139);
	}
	header {
		margin: 0;
		padding: 0 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.2em 0.2em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
