---
interface Props {
	titolo: string;
}

const { titolo } = Astro.props;
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
import { SEO } from "astro-seo";

import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<SEO
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			openGraph={{
				basic: {
					title: SITE_TITLE,
					type: "website",
					image: "/sito_tekaa/favicon.svg",
				},
			}}
		/>
		<meta charset="UTF-8" />
		<meta name="description" content="TEKAA Home Solutions. Il futuro della tua casa, oggi." />
		<meta name="keywords" content="home solutions, casa in bioedilizia, termotecnico, architetto, geometra, pratiche edilizia, vendita casa, acquisto casa, serramenti, pompe calore" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/sito_tekaa/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{titolo}</title>
	</head>
	<body>
		

		<!-- Optional: some overlay text to describe the video -->
		<div class="fullscreen-video-container">
			<!-- The video -->
			<video autoplay muted loop>
				<source src="../video.mp4" type="video/mp4" />
			</video>
			<div class="flex flex-col content min-h-screen justify-between">
				<Header />
				<main class="mb-auto">
					<slot />
				</main>
				<Footer />
			</div>
		</div>
		
	</body>
</html>
	
<style>
	.fullscreen-video-container {
		position: relative;
		height: 100vh; 
  		width: 100vw;
		overflow: hidden;
		display: flex;
  		justify-content: center;
  		align-items: center;
	}

	.fullscreen-video-container video {
  		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 50%;
  		left: 50%;
		width: auto;
		height: auto;
		transform: translate(-50%,-50%);
		object-fit: cover;
		z-index: -1;  
	}

	/* Style the video: 100% width and height to cover the entire window */
	#myVideo {
		position: fixed;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
	}

	/* Add some content at the bottom of the video/page */
	.content {
		position: fixed;
		top: 0;
		background: rgba(0, 0, 0, 0.5);
		color: #f1f1f1;
		width: 100%;
	}
</style>
